:root {
    --light-grey: #f5f6f7;
    --dark-blue: #0a0a23;
    --fcc-blue: #1b1b32;
    --light-yellow: #fecc4c;
    --dark-yellow: #feac32;
    --light-pink: #ffadad;
    --dark-red: #850000;
    --light-green: #acd157;
}
.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999999999999999;  
}

.circle {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #fff;
    pointer-events: none; /* Ensure the custom cursor doesn't block clicking */
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }
    30% {
        background-color: #66bf39
    }
    60% {
        background-color: #eb670f
    }
    90% {
        background-color: #f35
    }
    100% {
        background-color: #864cbf
    }
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    color: var(--light-grey);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 35px;
}

.container {
    width: 90%;
    max-width: 680px;
}

h1,
.container,
.output {
    margin: 20px auto;
}

label,
legend {
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--light-yellow);
    border: 2px solid var(--dark-yellow);
    transition: all 0.5s;
}

button,
input,
select {
    min-height: 24px;
    color: var(--dark-blue);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

fieldset,
label,
button,
input,
select {
    margin-bottom: 10px;
}

.output {
    border: 2px solid var(--light-grey);
    padding: 10px;
    text-align: center;
}

.hide {
    display: none;
}

.output span {
    font-weight: bold;
    font-size: 1.2em;
}

.surplus {
    color: var(--light-pink);
}

.deficit {
    color: var(--light-green);
}
